#
# mongos configuration for aws
#

files: 
  "/etc/yum.repos.d/mongodb.repo":
    mode: "000644"
    content: |
      [mongodb-org-3.0]
      name=MongoDB Repository
      baseurl=http://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/3.0/x86_64/
      gpgcheck=0
      enabled=1
  "/opt/adoreboard-mongos.conf":
    mode: "000755"
    content: |
      net:
        port: 27017
      operationProfiling: {}
      processManagement:
        fork: "true"
      sharding:
        configDB: mongo-cfg-3.internal.adoreboard.com:27019,mongo-cfg-1.internal.adoreboard.com:27019,mongo-cfg-2.internal.adoreboard.com:27019
      systemLog:
        destination: file
        path: /var/log/adoreboard-mongos.log
container_commands:
  01_install_mongo:
    command: yum install -y mongodb-org-mongos-3.0.2
    ignoreErrors: true
  02_start_mongos:
    command: "/usr/bin/mongos -f /opt/adoreboard-mongos.conf > /dev/null 2>&1 &"

