option_settings:

  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: "JVM Options"
    value: "-DADOREBOARD_HOME=http://config.internal.adoreboard.com"
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: "Xms"
    value: "512m"
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: "Xmx"
    value: "512m"
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: "XX:MaxPermSize"
    value: "128m"

container_commands:
  00_enable_rootaccess:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  01_set_hostname:
    command: sudo hostname `curl http://169.254.169.254/latest/meta-data/local-ipv4`